.prefeature {
  padding: 50px 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.prefeature-content {
  font-family: "SF Pro Display";
}
.prefeature h1 {
  color: #202020;
  font-family: "Bebas Neue", Sans-serif;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 72px;
}
.prefeature .pre-para {
  text-align: left;
  width: 100%;
  font-size: 24px;
  color: #ffa200;
  line-height: 35px;
}
.card-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
