.features2 {
  padding: 50px 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.features2 h1 {
  font-size: 60px;
  text-align: center;
}
